{% extends 'base.html' %}

{% block content %}

<h2>Make the changes</h2>
<form method="post">
    {% csrf_token %}
    {% for field in update_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style= 'color: bisque;'>{{field.help_text}}</small>
            {% endif %}

        </p>
    {% endfor %}

    {% for field in update_form %}
        {% for error in field.errors %}
            <small style= 'color: red;'>{{error}}</small>
        {% endfor %}
    {% endfor %}

    {% if update_form.non_field_errors %}
        <div style='color: red;'>
            <p>{{update_form.non_field_errors}}</p>
        </div>
    {% endif %}
    <button type="submit">Save Changes!</button>
</form>

{% endblock content %}

